.geral{
	position: relative;
    width: auto;
    height: 1177px;
    margin: 2px;
    border: 2px solid black;


}

.header{
	position: relative;
	border: 1px solid black;
	width: auto;
	height: 70px;
	margin-bottom: 10px;
	background-color: ;

}

.back-arrow{
	position: relative;
	width: 4%;
	height: auto;
	display: inline;
}

.titulo{
	position: relative;
	font-size: 36px;
	left: 40%;
	display: inline;

}

.circular-shape{
	position: relative;
	left: 73%;
	width: 4%;
	height: auto;
	display: inline;
}

}